<div class="row-fluid">
  <div id="artists">
    <h2>ARTISTS</h2>
    <% if session[:user_id] %>
      <div><%= link_to 'New Artist', new_artist_path %></div>
    <% end %>
    <% @artists.each do |artist| %>
    <div class="artist">
      <%= link_to artist, :title=> artist.name do %>
      <%= image_tag(artist.image.url(:thumb)) %>
      <p class="title"><%= artist.name %></p>
      <% end %>
      <% if session[:user_id] %>
      <ul>
	<li><%= link_to 'Edit', edit_artist_path(artist) %></li>
	<li><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
  </div>
<% end %>
<br />
</div>
</div>
<%= render 'layouts/footer' %>
