<% title "ARTISTS" %>
<h1>ARTISTS</h1>
<div id="artists">
  <% if session[:user_id] %>
  <%= render 'table', :f => @artists_all %>
  <%= link_to 'New Artist', new_artist_path, :class => "btn" %>
  <p><%= will_paginate @artists_all %></p>
  <% else %>
  <%= render 'grid', :f => @artists %>
  <p><%= will_paginate @artists %></p>
  <% end %>
</div>


