<p id="notice"><%= notice %></p>
<div id="sidebar">
  <% @releases.each do | release | %>
  <%= render 'layouts/side_bar', :f => release %>
  <% end %>
</div>
<div id="content">
  <div id="artist">
    <h2><%= @artist.name %></h2>
    <div class="artist">
      <div class="description">
	
	<div class="textwrapper">
	  <p><%= @artist.description =%></p>
	</div>
	<div class="imgwrapper">
	  <img src='<%= @artist.image.url(:thumb) %>'/>
	</div>
      </div>
    </div>
    <% if session[:user_id] %>
    <%= link_to 'Edit', edit_artist_path(@artist) %> |
    <% end %>
    <%= link_to 'Back', artists_path %>
  </div>
</div>

