<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <div class="span8">
  <div id="artist">
    <h2><%= @artist.name %></h2>
    <div class="artist">
      <div class="description">
	
	<div class="textwrapper">
	  <p><%= markdown(@artist.description).html_safe %></p>
	</div>
	<div class="imgwrapper">
	  <img src='<%= @artist.image.url(:thumb) %>'/>
	</div>
      </div>
    </div>
    <% if session[:user_id] %>
    <%= link_to 'Edit', edit_artist_path(@artist) %> |
    <%= link_to 'Delete', @artist, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= link_to 'Back', artists_path %>
  </div>
  </div>
  <div class="span2">
    <% @releases.each do | release | %>
    <%= render 'layouts/side_bar', :f => release %>
    <% end %>
  </div>
</div>
<%= render :partial => 'layouts/footer', :locals => { :soundcloudid => @artist.soundcloudid } %>
