<div class="grid">
  <% f.each do |news| %>
  <div class="news-item" itemscope itemtype="http://schema.org/Blog">
    <div class="inner">
      <p class="date"><%= l news.date, :format => "%d %b %Y" =%></p>        
      <h1 class="title" itemprop="name"><%= news.title %></h1>
      <div class="image-title-wrapper">
	<%= image_tag(news.image.url(:thumb))  %>
      </div>
      <div class="news-text summary ellipsis" itemprop="description">
	<%= markdown(news.content).html_safe %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<p>
  <%= will_paginate @posts %>
</p>

