<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td>Title</td>
      <td>Publication Date</td>
      <td>Controls</td>
    <tr>
  </thead>
  <tbody>
    <% f.each do |news| %>
    <tr>
      <td><%= news.title %></td>
      <td><%= news.date %></td>
      <td>
	<%= link_to 'Edit', edit_news_path(news), :class => "btn" %>
	<%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
	<%= link_to 'Show', news, :class => "btn" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

