<% title "NEWS" %>
<h1>News</h1>  
<div id="news">
  <% @news.each do |news| %>
  <div class="news-item">
    <div class="date"><%= l news.date, :format => "%d %B, %Y" =%></div>
    <div class="news-item-title">
      <%= link_to news, :title=> news.title, :class => 'white' do %>
      <%= image_tag(news.image.url(:thumb)) %>
      <h1><%= news.title %></h1>
      <% end %>
    </div>
    <div class="summary">
      <%= markdown(news.content).html_safe %>
    </div>
    <% if session[:user_id] %>
    <ul>
      <li><%= link_to 'Edit', edit_news_path(news) %></li>
      <li><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    <% end %>
  </div>
  <% end %>
  <p><%= will_paginate @posts %></p>
  <% if session[:user_id] %>
  <p><%= link_to 'New News', new_news_path %></p>
  <% end %>
</div>



