<%= form_for @release, :html => { :multipart => true, :role => 'form' } do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :artist_name %><br />
    <%= f.autocomplete_field :artist_name, autocomplete_artist_name_releases_path, 'data-delimiter' => ',', :multiple => true, :class => "form-control" %>
    <div id="store"></div>
  </div>
  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.fields_for :tracks do |t| %>
      <%= render 'track_fields', :f => t %>
    <% end %>
    <%= link_to_add_fields "Add Track", f, :tracks %>
  </div>
  <div class="form-group">
    <%= f.label :cover %>
    <%= image_tag(@release.cover.url(:thumb)) %>
    <%= f.file_field :cover, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

