<div class="track">
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />
  <%= f.label :number %><br />
  <%= f.text_field :number %><br />
  <%= f.label :file %><br />
  <%= f.file_field :file %>
  <%= link_to_remove_fields "remove", f %>
</div>
