<% title "RELEASES" %>
<h1>RELEASES</h1>
<div id="releases">
  <% @releases.each do |release| %>
  <div class="release">
    <%= link_to release, :title=> release.title, :class => 'white' do %>
    <h1>
      <%= release.title %><br/>
      <% release.artists.each do |artist| %>
      <%= artist.name %>
      <% end %>
    </h1>
    <%= image_tag(release.cover.url(:thumb)) %>
    <% end %>
    <ul>
      <% if session[:user_id] %>
      <li><%= link_to 'Show', release %></li>
      <li><%= link_to 'Edit', edit_release_path(release) %></li>
      <li><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul>
  </div>    
  <% end %>
  <p><%= will_paginate @posts %></p>
  <br />
  <% if session[:user_id] %>
  <%= link_to 'New Release', new_release_path %>
  <% end %>
</div>


