<h1>Listing releases</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Description</th>
    <th>Cover url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @releases.each do |release| %>
  <tr>
    <td><%= release.title %></td>
    <td>
    <% release.artists.each do |artist| %>
      <%= link_to artist.name, artist %><br/>
    <% end %>
    </td>
    <td><%= release.description %></td>
    <td><%= release.cover_url %></td>
    <td><%= link_to 'Show', release %></td>
    <td><%= link_to 'Edit', edit_release_path(release) %></td>
    <td><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Release', new_release_path %>
