<div id="content">
  <div id="releases">
    <h2>RELEASES</h2>
    <% @releases.each do |release| %>
    <div class="release">
      <div class="title">
	<%= link_to release.title, release %> |  
	    <% release.artists.each do |artist| %>
	    <%= link_to artist.name, artist %> / 
	    <% end %>
      </div>
      <div class="description">
	<div class="textwrapper"><p><%= release.description %></p>
	</div>	
	<div class="imgwrapper">
	  <img src='<%= release.cover.url(:medium) %>'/>
	</div>
      </div>
      <ul>
	<% if session[:user_id] %>
	  <li><%= link_to 'Show', release %></li>
	  <li><%= link_to 'Edit', edit_release_path(release) %></li>
	  <li><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	  <% end %>
      </ul>
    </div>    
    <% end %>
    <br />
    <%= link_to 'New Release', new_release_path %>
  </div>
</div>
