<% title @release.title %>
<p id="notice"><%= notice %></p>
<div id="content">
  <div id="release">
    <div class="title">
      <h1><%= @release.title %></h1>
    </div>
    <div class="row">
      <div class="left-col">
      <ul class="artists">
	<% @release.artists.each do |artist| %>
	<li class="artist"><%= link_to artist.name, artist, :class => 'white' %></li>
	<% end %>
      </ul>
      
      <div class="dropdown download-link">
	<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	  Download <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	  <li><%= link_to 'WAV', @release.zip.url %></li>
	  <li><%= link_to 'OGG', @release.zip.url(:ogg) %></li>
	  <li><%= link_to 'MP3', @release.zip.url(:mp3) %></li>
	</ul>
      </div>
      
      </div>
      <%= image_tag(@release.cover.url(:thumb)) %>
      <table class="tracks">
	<thead>
	  <tr>
	    <td>#</td>
	    <td>Title</td>
	    <td>Stream</td>
	  </tr>
	</thead>
	<tbody>
	  <% @release.tracks.each do | track | %>
	  <tr>
	    <td><%= track.number %></td>
	    <td><%= track.title %></td>
	    <td>
	      <audio controls>
		<source src="<%= track.file.url(:mp3) %>" type="audio/mp3">
		  <source src="<%= track.file.url(:ogg) %>" type="audio/ogg">
	      </audio>
	    </td>
	    <% end %>
	</tbody>
      </table>
    </div>
    <div class="description"><%= markdown(@release.description).html_safe %></div>
  </div>
  <div class="btn-ctrls">
    <% if session[:user_id] %>
    <%= link_to 'Edit', edit_release_path(@release), :class => 'btn' %> |
    <%= link_to 'Delete', @release, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
    <% end %>
    <%= link_to 'Back', releases_path, :class => 'btn' %>
  </div>
</div>

