<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @release.title %>
</p>

<p>
  <b>Description:</b>
  <%= @release.description %>
</p>

<p>
  <b>Cover url:</b>
  <%= @release.cover_url %>
</p>


<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
