<p id="notice"><%= notice %></p>
<div id="content">
  <div id="release">
    <div class="title">
    <h1><%= @release.title %></h1>
    <ul>
      <% @release.artists.each do |artist| %>
      <li><%= link_to artist.name, artist, :class => 'white' %></li>
      <% end %>
    </ul>
    </div>
    <img src='<%= @release.cover.url(:thumb) %>'/>
    <p><%= markdown(@release.description).html_safe =%></p>
    <% if @release.zip.content_type == 'application/zip' %>
    <p><i class="icon-download-alt"></i><%= link_to 'Download', @release.zip.url =%></p>  
    <% end %>
    <ol>
      <% @release.tracks.each do | track | %>
      <li><%= track.title %></li>
      <% end %>
    </ol>  
  </div>
</div>

<% if session[:user_id] %>
  <%= link_to 'Edit', edit_release_path(@release), :class => 'btn' %> |
<% end %>
<%= link_to 'Back', releases_path, :class => 'btn' %>


