<!DOCTYPE html>
<html>
<head>
  <title>EIDOLA RECORDS | <%= @page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="header">
   <% if session[:user_id] %>
     <%= button_to 'Logout', logout_path, method: :delete %>
   <% end %>
 <h1><%= link_to "EIDOLA RECORDS", root_path %></h1>
 <ul id="navigation">
 <li><%= link_to "ARTISTS", artists_path %></li>
 <li><%= link_to "RELEASES", releases_path %></li>
 <li>GIGS</li>
 <li>MERCHANDISE</li>
 </ul>
 </div>
<div id="main">
  <%= yield %>
</div>


</body>
</html>
