<!DOCTYPE html>
<html>
  <head>
    <title>EIDOLA RECORDS | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
  </head>
  <body>
    <header>
      <%= image_tag "logo_recordplayer.png", :class => "logo" %>
      <h1><%= link_to "EIDOLA RECORDS", root_path, :class => "white" %></h1>

      <ul class="nav">
	<li><%= link_to "ARTISTS", artists_path %></li>
	<li><%= link_to "RELEASES", releases_path %></li>
      </ul>

    </header>
    	    
    <div id="main" >
      <%= yield %>
    </div>
  </body>
</html>
